<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head') %>
  </head>
  <body class="admin-layout">
    <div class="d-flex" id="wrapper">
      <!-- Sidebar -->
      <%- include('../partials/sidebar') %>

      <!-- Page content wrapper -->
      <div id="page-content-wrapper" class="flex-grow-1">
        <!-- Topbar / header -->
        <%- include('../partials/topbar') %>

        <div class="container-fluid p-4">
          <%- include('../partials/alert') %>
          <%- body %>
        </div>

        <%- include('../partials/footer') %>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/js/admin.js"></script>
  </body>
</html>
